
/*navbar*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8opx;
    background-color: rgb(255, 187, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header img{
    width: 100px;
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    position: relative;
}
#header .search-bar{
    position: absolute;
    top: -100px;
    right: 2rem;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#header .search-bar.active{
    top: 5px;
    transition: 0.3s linear;
}
#header .search-bar input{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #c9cbce;
    font-size: 16px;
}
#header .search-bar button{
    border: none;
    outline: none;
}
#header .search-bar button .fa-solid{
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#close{
    display: none;
}
#mobile{
    display: none;
    align-items: center;
}
/*Home page*/
#banner{
    background-image: url("img/banner.jpg");
    height: 90vh;
    background-size: cover;
    background-position: top 55% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#banner h4{
    font-size: 30px;
}
#banner h2{
    font-size: 60px;
}
#banner h1{
    font-size: 80px;
    color:darkblue;
}
#banner p{
    font-size: 30px;
}
#banner button{
    background-image: url("img/flex.png");
    background-color: transparent;
    color:#ffffff ;
    border: 0;
    padding: 50px 300px 50px 300px;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    cursor: pointer;
    font-weight: 700px;

}
.section-p1{
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .feature_box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34ppx rgba(0, 0, 0, 0.3);
    border: 1px solid #cce710;
    border-radius: 10px;
    margin: 15px 0;
}
#feature .feature_box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
    
}
#feature .feature_box img{
    width: 100%;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#feature .feature_box h2{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #f5f244;
}
#feature .feature_box:nth-child(2) h2{
    background-color:aqua;
}
#feature .feature_box:nth-child(3) h2{
    background-color:#cdd4f8;
}
#feature .feature_box:nth-child(4) h2{
    background-color:rgb(50, 207, 142);
}
#feature .feature_box:nth-child(5) h2{
    background-color:rgb(241, 127, 51);
}
#feature .feature_box:nth-child(6) h2{
    background-color:rgb(96, 140, 235);
}
#product1{
    text-align: center;
}
#product1 h2{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

#product1 p{
    font-size: 30px;
    text-align: center;
}
#product1 .pro_container{
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 15%;
    min-width: 150px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    margin-left: 20px;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
#product1 .pro .img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 20px 0;
}
#product1 .pro .des span{
    color: rgb(117, 111, 103);
}
#product1 .pro .des h5{
    font-size: 20px;
}
#product1 .pro .des h4{
    padding-top: 7px;;
    font-size: 25px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart
{
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #088178;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#bann{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('img/bann.jpg');
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bann h4{
    color: #000;
    font-size: 30px;
}
#bann h2{
    color: #000;
    font-size: 40px;
    padding: 10px 0;
}
#bann span{
    color: red;
    font-size: 40px;
    padding: 10px 0;
}
button.normal{
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    color: #000;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}
#bann button:hover{
    background-color: #088178;
    color: #ffffff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('img/ban.jpg');
    min-width: 780px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 4px;
}
#sm-banner .banner-box2{
    background-image: url('img/bn.jpg');
}
#sm-banner h3{
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
}
#sm-banner h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
}
#sm-banner span{
    color: #ffffff;
    font-weight: 400;
    font-size: 25px;
}
button.white{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('img/shower.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url('img/FoodProduct.jpg');
    border-radius: 10px;
}
#banner3 .banner-box3{
    background-image: url('img/cooking ingredient.jpg');
    border-radius: 10px;
}

#banner3 h3{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
}
#banner3 h2{
    color: gold;
    font-weight: 600;
    font-size: 40px;
}
#banner3 span{
    color: #2b15f1;
    font-weight: 300;
    font-size: 20px;
}
#banner3 .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
#newletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/bluebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 30%;
}
#newletter h1{
    font-size: 35px;
    font-weight: 800;
    color: white;
}
#newletter p{
    font-size: 20px;
    font-weight: 500;
    color: #088178;
}
#newletter span{
    font-size: 20px;
    font-weight: 500;
    color: gold;
}
#newletter .form{
    display: flex;
    width: 40%;
}
#newletter input{
    height: 3.25em;
    padding: 0 1.25em;
    font-size: 20px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowarp;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h3{
    font-size: 25px;
    padding-bottom: 20px;
}
footer p{
    font-size: 20px;
    margin: 0 0 10px 0;
}
footer a{
    font-size: 20px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow i{
    font-size: 20px;
    color: #465b52;
    padding-right:5px;
    cursor: pointer;
}

footer .install .row img{
    width: 80px;
    height: 35px;
    border: 1px solid #088178;
    border-radius: 8px;
}
footer .install img{
    margin: 10px 0 15px 0;
    width: 80px;
}
footer .follow i:hover,footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
/*Home Page*/


/*Shop Page*/
#page-header{
    background-image: url("img/shutterstock_590873999.jpg");
    height: 40vh;
    background-size: cover;
    background-position: top 45% right 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-header{
    padding: 0 20px 20 0;
}
#page-header h4{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#page-header p{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
/*slider centent*/
#slider{
    padding: 50px 150px 0px 150px;
    display: flex;  
    justify-content: space-between;  
}
.slide-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.slide-content .shop{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.slide-content .shop h2{
    color: #465b52;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 30px;
}
.slide-content .shop h3{
    color: #2b15f1;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}
.slide-content .shop span{
    color: #1a1a1a;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.slide-content .shop button{
    background-image: url("img/flex.png");
    background-color: transparent;
    color:#ffffff ;
    border: 0;
    padding: 75px 300px 75px 300px;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    cursor: pointer;
    font-weight: 700px;
}
.slide-content .slide{
    
    width: 50%;
    margin-left:20px ;
}
.slide-content .slide img{
    width: 100%;
    height: 70vh;
    
}

/*single product page*/
#product-detail{
    display: flex;
    margin-top: 30px;
}
#product-detail .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small-img{
    border-left:1px solid #088178 ;
}
#product-detail .single-pro-detail{
    width: 50%;
    padding-top:20px ;
}
#product-detail .single-pro-detail  h4{
    font-size: 20px;
    padding: 40px 0px 20px 0px ;
}
#product-detail .single-pro-detail  h2{
    font-size: 35px;
    padding: 40px 0px 20px 0px ;
}
#product-detail .single-pro-detail  h1{
    font-size: 40px;
    padding: 40px 0px 20px 0px ;
}
#product-detail .single-pro-detail select{
    font-size: 16px;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#product-detail .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#product-detail .single-pro-detail input:focus{
    outline: none;
}
#product-detail .single-pro-detail button{
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}
#product-detail .single-pro-detail div{
    margin-top: 20px;
}
#product-detail .single-pro-detail span{
    font-size: 22px;
    font-weight: bold;
}
#product-detail .single-pro-detail p{
    margin-top: 20px;
    font-size: 22px;
    text-align: justify;
}

/*Blog page & About us*/
#page-header.blog-header{
    background-image: url("img/reading.jpg");
    height: 40vh;
    background-size: cover;
    background-position: top 45% right 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#blog,#about{
    padding: 150px 150px 0px 150px;
}
#blog .blog-box,#about .about-box{
    display: flex;
    align-items: center;
    padding-bottom: 90px;
    width: 100%;
    position: relative;
}
#blog h4,#about h4{
    font-size: 35px;
}
#blog p,#about p{
    font-size: 20px;
    text-align: justify;
}
#blog .blog-img,#about .about-img{
    width: 45%;
    margin-right: 40px;
}
#blog .blog-detais,#about .about-detais{
    width: 70%;
}
#blog img,#about img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
#blog .blog-detais a,#about .about-detais a{
    text-decoration: none;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    position: relative;
    transition: 0.3s ;
}
#blog .blog-detais a::after,#about .about-detais a::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 15px;
    right: -60px;
}
#blog .blog-detais a:hover,#about .about-detais a:hover{
    color: #088178;
}
#blog .blog-detais a:hover::after,#about .about-detais a:hover::after{
    background-color: #088178;
}
#blog .date{
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}
#page-header.about-header{
    background-image: url("img/contact-banner.jpg");
    height: 40vh;
    background-size: cover;
    background-position: top 50% right 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 50%;
    height: 700px;
    margin: 30px auto 0 auto;
    border-radius: 30px;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
/* Conatct us page*/
#page-header.contact-header{
    background-image: url("img/48-485738_-contact-us.jpg");
    height: 40vh;
    background-size: cover;
    background-position: top 20% right 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .detail{
    width: 40%;
}
#contact-details .detail span,#form form span{
    font-size: 25px;
}
#contact-details .detail h2,#form form h2{
    font-size: 50px;
    line-height: 55px;
    padding: 20px 0;
}
#contact-details .detail h3{
    font-size: 25px;
    padding-bottom: 20px;
}
#contact-details .detail li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .detail li i{
    font-size: 20px;
    padding-right: 20px;
}
#contact-details .detail li p{
    font-size: 20px;
    margin: 0;
}
#contact-details .map{
    width: 55%;
    height: 450px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form{
    display: flex;
    justify-content: space-between;
    margin:30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form form{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form form input,#form form textarea{
    width: 100%;
    padding: 15px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
}
#form form input.submit{
    background-color: #088178;
    color: #fff;
}
#form form input.submit:hover{
    background-color:gold;
    color: #088178;
}
#form .people img{
    width: 65px;
    border-radius: 50%;
    margin-right: 20px;
}
#form .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form .people div p{
    margin:0;
    font-size: 15px;
    line-height: 20px;
}
#form .people div p span{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
/* Cart page */
#cart{
    overflow-x: auto;
}
#page-header.cart-header{
    background-image: url("img/cart.jpg");
    height: 40vh;
    background-size: cover;
    background-position: top 20% right 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowarp;
    font-size: 18px;
}
#cart table img{
    width: 75px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 2px solid #e2e9e1;
    border-left: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 0;
}
#cart table tbody td{
    font-size: 18px;
}
#cart table tbody tr td{
    
    padding-top: 18px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,#subtotal h3{
    padding-bottom: 20px;
    font-size: 30px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    height: 55px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid #e2e9e1;
}
#coupon button,#subtotal button{
    background-color: #088178;
    color: #fff;
}
#coupon button:hover,#subtotal button:hover{
    background-color: gold;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width:50%;
    border: 1px solid #e2e9e1;
    padding: 20px;
    font-size: 20px;
}
/*checkout*/
#checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#address{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 2px solid #e2e9e1;
}
#address form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
#address h3{
    font-size: 30px;
}
#address form div{
    width: 50%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

}
#address form div input{
    padding: 10px 10px;
    outline: none;
    width: 100%;
    height: 55px;
    font-size: 16px;
    margin-right: 10px;
    border:1px solid #e2e9e1;
}
#address form div label{
    font-size: 20px;
    padding-bottom: 10px;
}
#address .payment .payment-type{
    width: 100%;
    display: flex;
    padding: 20px 20px;
}
#address .payment .payment-type div{
    padding: 20px 20px;
    font-size: 20px;
    color: #088178;
}
#address .payment .payment-type div:hover{
    color: gold;
}
#address .payment button{
    background-color: #088178;
    color: #fff;
    margin-left: 30px;
}
#address .payment button:hover{
    background-color: gold;
    color: #000;
}
#order-total{
    width: 35%;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #e2e9e1;
}
#order-total h3{
    font-size: 30px;
    padding-bottom: 20px;

}
#order-total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}
#order-total table tr img{
    width: 65px;
}
#order-total table tr td{
    padding: 10px;
    border: 1px solid #e2e9e1;
}
#order-total table td:nth-child(1){
    width: 50px;
    text-align: center;
}
#order-total table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#order-total table td:nth-child(3),
#order-total table td:nth-child(4),
#order-total table td:nth-child(5),
#cart table td:nth-child(6){
    width: 90px;
    text-align: center;
}

/*start Media Query*/
@media(max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }
    #navbar div{
        width: 280px;
        margin-bottom: 20px;

    }
    #navbar.active{
        right: -50px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        position: absolute;
        right: 30px;
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 25px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #banner{
        height: 90vh;
        padding:0 80px;
        background-position: top 30% right 30%;
    }
    #product1 .pro_container{
        justify-content: center;
        
    }
    #product1 .pro{
        margin: 15px;
    }
    #bann{
        height: 30vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3  .banner-box {
        width: 33%;
        height: 30vh;
    }
    #newletter .form{
        width: 70%;
    }
    #blog{
        margin-top: 20px;
    }
    #blog .blog-box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #blog .blog-box .blog-img{
        width: 100%;
        margin-right: 0;
    }
    #blog .blog-box .blog-detais{
        width: 100%;
    }
    #blog img{
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    #about{
        padding: 150px;
    }
    #about .about-box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #about .about-box .about-img{
        width: 100%;
        margin-right: 0;
    }
    #about .about-box .about-detais{
        width: 100%;
    }
    #about img{
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    #contact-details .detail{
        width: 80%;
    }
    #form {
        padding: 40px;
    }
    #form form {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 20px;
    }
    #coupon input{
        width: 100%;
        margin-bottom: 20px;
    }
    #checkout{
        display: flex;
        flex-direction: column;
    }
    #address{
        width: 100%;
        margin-bottom: 30px;
    }
    #order-total{
        width: 100%;
        margin-left: 0;
    }
    #slider{
        padding: 10px 10px 0px 10px;  
        
    }
    .slide-content .shop{
        width: 50%; 
    }
    .slide-content .slide{
        width: 50%;
    }
    .slide-content .slide img{
        width: 100%;
        height: 30vh;
    }
}